* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left,
#right {
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
}

.list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    background: #e91e63;
    height: 60px;
    margin: 30px;
    display: flex;
    align-items: center;
    cursor: grab;
}
.list img {
    width: 20px;
    margin: 0 15px;
}
